<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="version" content="<%= htmlWebpackPlugin.options.version %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->



</head>
<body class="loader-parent">
  <header class="swa-site-header" >

  </header>

      
<div id="itk-wrapper" >
<main>
  Hello World
</main>


</body>
</html>