.swa-btn {
  background: $swa-yellow;
  border: none;
  color: $swa-gray;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &.swa-btn-white {
    background: $swa-white;
    color: $swa-dark-blue;
  }

  &.swa-btn-blue {
    background: $swa-dark-blue;
    color: $swa-white;
  }

  @include bp-md {
    border-radius: 2px;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    padding: 0 25px;
  }

  &.swa-btn-large {
    border-radius: 2px;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    padding: 0 25px;
  }

  &.swa-btn-small {
    border-radius: 0;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 20px;
  }

  &.swa-btn-transparent {
    background: rgba($swa-light-gray, .5);
    color: $swa-white;
  }

  &.swa-btn-left {
    float: left;
  }

  &.swa-btn-right {
    float: right;
  }

  &.swa-btn-blank {
    background: none;
    border: none;
    color: $swa-gray;
    font-size: 14px;
    text-decoration: underline;
  }

  &.swa-btn-primary {
    color: $swa-dark-blue;
    font-weight: 500;
  }

  &.swa-button-disabled {
    background: $swa-gray;
    color: lightgrey;
    pointer-events: none;
  }
}
